{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "blockBindings": true,
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "modules": true,
    "restParams": true,
    "defaultParams": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties":true
  },
  "rules": {
    "no-var": [2],
    "constructor-super": 2,
    "new-cap": 1,
    "no-const-assign": 2,
    "no-unexpected-multiline": 2,
    "strict": 2,
    "use-isnan": 2,
    "semi": [2, "always"],
    "no-debugger": 1,
    "no-console": 2,
    "no-use-before-define": 2,
    "comma-dangle": [2, "never"],
    "no-dupe-args": 2,
    "no-inner-declarations": [2, "both"],
    "array-bracket-spacing": [2, "never"],
    "block-spacing": [2, "always"],
    "no-func-assign": 2,
    "eol-last": 0,
    "no-dupe-class-members": 2,
    "no-this-before-super": 2,
    "prefer-arrow-callback": 2,
    "quotes": [2, "single"],
    "jsx-quotes": [2, "prefer-single"],
    "newline-after-var": [2, "always"],
    "object-curly-spacing": [2, "always"],
    "key-spacing": [2, {"beforeColon": false, "afterColon": true }],
    "semi-spacing": [2, {"before": false, "after": false}],
    "react/jsx-no-undef": 1,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1
  }
}